<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Youtube Downloader</title>
</head>
<body>
	<h1>Hello World</h1>
	<fieldset style="width: 325px;">
		<legend>원하는 기능 선택하기</legend>
        <form action="/video">
            동영상 받으려면 여기를!<input type="submit" name="videoB" value="동영상(음성포함)">
        </form>
        <form action="/audio_only" method="post">
            노래(음성)만 받으려면 여기를!<input type="submit" name="audioOnlyB" value="음성만">
        </form>
	</fieldset>
</body>
</html>
